{
  "arrowParens": "always",
  "semi": false,
  "tabWidth": 2,
  "printWidth": 80,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "tailwindFunctions": ["cn", "clsx"],
  "tailwindStylesheet": "./web/styles/index.css",
  "importOrder": [
    "^node:(.*)$",
    "^vite$",
    "^@vitejs/(.*)$",
    "^react$",
    "^react-dom/client$",
    "^react/(.*)$",
    "^zod$",
    "^axios$",
    "^date-fns$",
    "^react-hook-form$",
    "^@radix-ui/(.*)$",
    "^@hookform/resolvers/zod$",
    "^@tanstack/react-query$",
    "^@tanstack/react-router$",
    "^@tanstack/react-table$",
    "<THIRD_PARTY_MODULES>",
    "^@/assets/(.*)",
    "^@/stores/(.*)",
    "^@/lib/(.*)",
    "^@/context/(.*)",
    "^@/hooks/(.*)",
    "^@/components/layout/(.*)",
    "^@/components/ui/(.*)",
    "^@/components/(.*)",
    "^@/features/(.*)",
    "^[./]"
  ]
}
